@import url('https://fonts.googleapis.com/css?family=Dosis&display=swap');
@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');
@import "general.css";
@import "typography.css";
@import "nav.css";

.container {
    display: grid;
    grid-template-columns: 100%;
    grid-auto-rows: minmax(40px, auto);
    grid-template-areas: 
        "fi"
        "ti"
        "nb"
        "text"
        "card"
        "ft";
}

.featuredimage {
    grid-area: fi;
    background-color: #022340;
    background-image: url("../images/swnbudapest.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 600px;
}

.title {
    grid-area: ti;
    color: #F2F2F2;
    text-align: center;
    background-color: #022340;
    color: #F2F2F2;
}

.posttitle {
    color: #F2F2F2;
    font-family: 'Ubuntu', sans-serif;
    font-size: 60px;

}

.text {
    grid-area: text;
    border: 2px solid #022340;
    padding: 10px;
}


.picture {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    max-width: 500px;
}

.image {
    width: 100%;
    max-width: 500px;
    height: auto;
}

.caption {
    font-family: 'Ubuntu', sans-serif;
    font-size: 25px;
    color: #022340;
    text-align: center;
}

/* Card */
.card {
    grid-area: card;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    max-width: 300px;
    margin: auto;
    text-align: center;
}
  
.cardinfo {
    color: grey;
    font-size: 15px;
}
  
.profileimage {
    max-width: 100px;
}

@media (min-width:900px){

    .container {
            margin: 5%;
            grid-template-columns: 70% 30%;
            grid-auto-rows: minmax(40px, auto);
            grid-template-areas: 
            "fi fi"
            "ti ti"
            "nb nb"
            "text card"
            "ft ft";
        }
    
    .text {
        margin-right: 10px;
    }
}